<!-- templates/register.html -->
{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form method="POST" action="register/">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="is_admin">Register as Admin:</label>
        <input type="checkbox" id="is_admin" name="is_admin"><br><br>

        <button type="submit">Register</button>
    </form>
{% endblock %}
