/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    text-align: center;
    font-family:red serif;
    font-size:18px;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration:none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Main content */
#content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007BFF;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

form button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

/* Lists */
ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

/* Buttons for Accept/Reject */
button.accept-btn {
    background-color: #28a745;
    margin-right: 10px;
}

button.reject-btn {
    background-color: #dc3545;
}

button.accept-btn:hover {
    background-color: #218838;
}

button.reject-btn:hover {
    background-color: #c82333;
}
